@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-color: #512da8;
    --hover-color: rgba(81, 45, 168, 0.1);
    --active-color: #3e1c96;
}

a {
    color: var(--main-color);
    text-decoration: none;
    background-color: transparent;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 900px;
    padding: 20px;
    margin-top: 20px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#calendar {
    margin-top: 20px;
}

.fc .fc-toolbar.fc-header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fc .fc-button {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--main-color);
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 5px;
    box-shadow: none;
    transition: background-color 0.3s, color 0.3s;
}

.fc .fc-button:hover {
    background-color: var(--hover-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

.fc .fc-button.fc-button-active {
    background-color: var(--main-color);
    color: #fff;
}

.fc .fc-button:focus {
    box-shadow: none;
    outline: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: var(--active-color);
}

.fc .fc-toolbar-title {
    font-size: 18px;
    font-weight: 600;
}

.fc .fc-daygrid-day-number {
    font-weight: 500;
    color: #000000;
    position: relative;
}

.fc-daygrid-day {
    position: relative;
}

.add-event-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.fc-daygrid-day:hover .add-event-btn {
    background-color: var(--main-color);
    color: #fff;
}

/* RESPONSYWNOŚĆ */
